{% extends 'base.html.twig' %}

{% block title %}Viaje{% endblock %}

{% block body %}



{% set currentFila = 0 %}
{% set idAsiento = 0 %}


<h1>Viaje {{ viaje.id }}</h1>
<form method="post" action="/viaje/check/{{ viaje.id }}">
    <table border="1">
        <tbody>
            {% for fila in asientos %}
                {% set currentColumna = 0 %}
                {% set currentFila = currentFila + 1 %}
                <tr>
                    {% for columna in fila %}
                        {% set currentColumna = currentColumna + 1 %}
                        {% set idAsiento = idAsiento + 1 %}
                        {% if columna == 1 %}
                            <td>
                                <h5>Asiento: </h5> {{ currentFila}} -- {{ currentColumna}} <br/>
                                <label for="checkbox_{{ idAsiento }}">Seleccionar</label>
                                <input type="checkbox" name="asientos[]" value="{{ idAsiento }}">
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <input type="submit" value="Comprar billetes seleccionados">
</form>


{% endblock %}
