{% extends 'base.html.twig' %}

{% block title %}Viaje index{% endblock %}

{% block body %}
    <h1>Viaje index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Asientos</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for viaje in viajes %}
            <tr>
                <td>{{ viaje.id }}</td>
                <td>{{ viaje.asientos ? viaje.asientos|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('app_viaje_show', {'id': viaje.id}) }}">show</a>
                    <a href="{{ path('app_viaje_edit', {'id': viaje.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_viaje_new') }}">Create new</a>
{% endblock %}
