{% extends 'base.html.twig' %}

{% block title %}Horario index{% endblock %}

{% block body %}
    <h1>Horario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Salida</th>
                <th>Llegada</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horario in horarios %}
            <tr>
                <td>{{ horario.id }}</td>
                <td>{{ horario.salida ? horario.salida|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ horario.llegada ? horario.llegada|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_horario_show', {'id': horario.id}) }}">show</a>
                    <a href="{{ path('app_horario_edit', {'id': horario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_horario_new') }}">Create new</a>
{% endblock %}
